.cell {
  border: 1px solid #ccc;
  border-top: none;

  &:not(:first-child) {
    text-align: center;
  }
}

.cellSelected {
  background-color: yellow;
}

.cellCentered {
  text-align: center;
}

.cellClickable {
  cursor: pointer;
}
